USE [master]
GO
/****** Object:  Database [ReportDemo]    Script Date: 2017/10/25 15:21:18 ******/
CREATE DATABASE [ReportDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReportDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ReportDemo.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ReportDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ReportDemo_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReportDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReportDemo]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2017/10/25 15:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name]) VALUES (1, N'张三')
INSERT [dbo].[User] ([ID], [Name]) VALUES (2, N'李四')
INSERT [dbo].[User] ([ID], [Name]) VALUES (3, N'王五')
SET IDENTITY_INSERT [dbo].[User] OFF
USE [master]
GO
